.btn {
  margin: 1rem;
  background: $background-accent;
  border: 0;
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  &:disabled {
    background: $background-middle;
  }
}

// .btn-create {}

.btn-edit,
.btn-save {
  background: $background-alter;
}

.btn-delete,
.btn-cancel {
  background: $background-danger;
}

.icn-edit,
.icn-save,
.icn-delete,
.icn-cancel,
.icn-new {
  margin: .2rem;
  padding: .2rem;
  background: none;
  cursor: pointer;
}

mat-icon {
  color: $border-dark;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}