$background-light: #eaeaea;
$background-middle: #6a717e;
$background-dark: #3c4048;
$background-accent: #00abb3;
$background-alter: #4a8d77;
$background-danger: #dd8582;
$font-light: #b2b2b2;
$font-dark: #3c4048;
$font-accent: #00abb3;
$font-danger: #c4342f;
$border-light: #eaeaea;
$border-dark: #3c4048;
$border-accent: #00abb3;
$border-editable: #a17117;
