<h2 i18n>Welcome</h2>
<div class="welcome">
  <p>
    <strong i18n>Our Project Management application is the success of your team's work.</strong>
    <img src="assets/images/achievement.png" alt="achievement" i18n-alt>
  </p>
  <p i18n>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis ad sapiente, minima iusto inventore velit natus accusantium. Provident, rerum natus error laborum tempora dolore in veritatis obcaecati, nihil eius quisquam ab a possimus facere recusandae soluta! Soluta eius modi velit ipsa perferendis quidem recusandae error. Debitis aut molestiae repellendus hic.
    <img src="assets/images/skill.png" alt="skill" i18n-alt>
  </p>
</div>