<h2>Welcome</h2>
<div class="welcome">
  <a [routerLink]="['about']">About</a>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid tempore provident illum non mollitia commodi obcaecati, animi iure. Commodi, esse dolores iste iusto libero blanditiis numquam architecto atque non autem accusantium ullam vitae corrupti ea magnam placeat ab aut quae ex voluptates ipsam dolorem ratione doloribus praesentium? Voluptatem, aperiam nesciunt!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, eaque delectus nemo hic maiores tenetur similique odit ullam, ab placeat neque! Pariatur possimus similique alias, tempora explicabo ipsum dolor officiis voluptate rerum provident, labore est eum a culpa debitis sapiente autem maxime id maiores qui iste nam commodi facere repellendus.
  </p>
</div>