@import "../../../assets/scss/shared.scss";
.auth__mode {
  margin: auto;
  width: 30rem;
  display: flex;
  justify-content: space-between;
}
.auth__mode_active {
  color: $font-dark;
  background: $background-accent;
  width: 50%;
}
.auth__mode_unactive {
  color: $font-light;
  background: $background-middle;
  width: 50%;
}
.auth__left {
  border-radius: 0.3rem 0 0 0.3rem;
}
.auth__right {
  border-radius: 0 0.3rem 0.3rem 0;
}
form {
  margin: auto;
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-control {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}
