form {
  margin: auto;
  max-width: 30rem;
}
.form-control {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: .5rem;
}
small {
  color: red;
}
.auth__mode {
  display: flex;
}
.auth__mode_active {
  color: #000;
}
.auth__mode_unactive {
  color: #ccc;
}