<h2>Login</h2>
<div class="login">
  <form>
    <div class="form-control">
      <label for="login__email">Email</label>
      <input type="email" id="login__email" placeholder="Email">
      <div class="validation">
        <small>errors description</small>
      </div>
    </div>
    <div class="form-control">
      <label for="login__password">Password</label>
      <input type="password" id="login__password" placeholder="Password">
      <div class="validation">
        <small>errors description</small>
      </div>
    </div>
    <button type="submit">Login</button>
  </form>
</div>