<div class="auth__mode">
  <h2 [ngClass]="{'auth__mode_active': authMode, 'auth__mode_unactive': !authMode}" (click)="authModeToggle()">{{i18n['login']}}</h2>
  <h2 [ngClass]="{'auth__mode_active': !authMode, 'auth__mode_unactive': authMode}" (click)="authModeToggle()">{{i18n['signup']}}</h2>
</div>
<div class="login" *ngIf="authMode">
  <form [formGroup]="LogInForm" (ngSubmit)="loginSubmit()">
    <div class="form-control">
      <label for="login__email" #email>{{i18n['email']}}</label>
      <input
        type="email" 
        id="login__email" 
        placeholder="{{i18n['email']}}"
        formControlName="loginEmail">
      <div
        *ngIf="LogInForm.get('loginEmail')?.touched && LogInForm.get('loginEmail')?.invalid"
        class="validation">
        <small class="danger" *ngIf="LogInForm.get('loginEmail')?.errors?.['required']">
          {{i18n['email']}} {{i18n['required']}}
        </small>
        <small class="danger" *ngIf="LogInForm.get('loginEmail')?.errors?.['email']">
          {{i18n['correct_email']}}
        </small>
      </div>
    </div>
    <div class="form-control">
      <label for="login__password">{{i18n['password']}}</label>
      <input
        type="password" 
        id="login__password" 
        placeholder="{{i18n['password']}}"
        formControlName="loginPassword">
      <div
        *ngIf="LogInForm.get('loginPassword')?.touched && LogInForm.get('loginPassword')?.invalid"
        class="validation"
        >
        <small class="danger" *ngIf="LogInForm.get('loginPassword')?.errors?.['required']">
          {{i18n['password']}} {{i18n['required']}}
        </small>
        <small class="danger" *ngIf="LogInForm.get('loginPassword')?.errors?.['minlength']">
          {{i18n['correct_password']}}
        </small>
      </div>
    </div>
    <button 
      type="submit"
      [disabled]="LogInForm.invalid"
      class="button button-auth"
      >{{i18n['login']}}</button>
    <div class="form-control">
      <small class="danger" *ngIf="auth.authErrorMessage$ | async as message">{{message}}</small>
    </div>
  </form>
  <div *ngIf="displayGreeting">
    <div class="modal__wrapper">
    </div>
    <div class="modal__message">
      <h2>{{i18n['modal_loading']}}</h2>
    </div>
  </div>
</div>
<div class="signup" *ngIf="!authMode">
  <form [formGroup]="SignUpForm" (ngSubmit)="signUpSubmit()">
    <div class="form-control">
      <label for="signup__name">
        {{i18n['name']}}
      </label>
      <input type="text" 
        id="signup__name" 
        placeholder="{{i18n['name']}}"
        formControlName="signupName">
      <div
        *ngIf="SignUpForm.get('signupName')?.touched && SignUpForm.get('signupName')?.invalid"
        class="validation">
        <small class="danger" *ngIf="SignUpForm.get('signupName')?.errors?.['required']">
          {{i18n['name']}}{{i18n['required']}}
        </small>
        <small class="danger" *ngIf="SignUpForm.get('signupName')?.errors?.['minlength']">
          {{i18n['name']}} {{i18n['short']}}
        </small>
      </div>
    </div>
    <div class="form-control">
      <label for="signup__email">
        {{i18n['email']}}
      </label>
      <input
        type="email" 
        id="signup__email" 
        placeholder="{{i18n['email']}}"
        formControlName="signupEmail">
      <div
        *ngIf="SignUpForm.get('signupEmail')?.touched && SignUpForm.get('signupEmail')?.invalid"
        class="validation">
        <small class="danger" *ngIf="SignUpForm.get('signupEmail')?.errors?.['required']">
          {{i18n['email']}} {{i18n['required']}}
        </small>
        <small class="danger" *ngIf="SignUpForm.get('signupEmail')?.errors?.['email']">
          {{i18n['correct_email']}}
        </small>
      </div>
    </div>
    <div class="form-control">
      <label for="signup__password">
        {{i18n['password']}}
      </label>
      <input
        type="password" 
        id="signup__password" 
        placeholder="{{i18n['password']}}"
        formControlName="signupPassword">
      <div
        *ngIf="SignUpForm.get('signupPassword')?.touched && SignUpForm.get('signupPassword')?.invalid"
        class="validation"
        >
        <small class="danger" *ngIf="SignUpForm.get('signupPassword')?.errors?.['required']">
          {{i18n['password']}} {{i18n['required']}}
        </small>
        <small class="danger" *ngIf="SignUpForm.get('signupPassword')?.errors?.['minlength']">
          {{i18n['correct_password']}}
        </small>
      </div>
    </div>
    <button 
      class="button button-auth"
      type="submit"
      [disabled]="SignUpForm.invalid"
      >{{i18n['signup']}}
    </button>
    <div class="form-control">
      <small class="danger" *ngIf="auth.authErrorMessage$ | async as message">{{message}}</small>
    </div>
  </form>
  <div *ngIf="displayGreeting">
    <div class="modal__wrapper">
    </div>
    <div class="modal__message">
      <h2>{{i18n['modal_registration']}}</h2>
      <button (click)="hideGreeting()">{{i18n['close']}}</button>
    </div>
  </div>
</div>