$background-light: #EAEAEA;
$background-dark: #3C4048;
$background-accent: #00ABB3;
$background-danger: #dd8582;
$font-light: #B2B2B2;
$font-dark: #3C4048;
$font-accent: #00ABB3;
$font-danger: #c4342f;
$border-light: #EAEAEA;
$border-dark: #3C4048;
$border-accent: #00ABB3;
$border-editable: #a17117;