@import "../../../shared/scss/shared";

header {
  height: 5rem;
  background: $background-dark;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-radius: 0.5rem 0.5rem 0 0;
}
nav {
  font-size: 2rem;
  ul {
    display: flex;
    align-items: center;
    li {
      display: inline-block;
      margin: 1rem;
      a {
        color: $font-accent;
      }
    }
  }
}
footer {
  height: 5rem;
  background: $background-dark;
  display: flex;
  align-items: center;
  justify-content: center;
  .footer__item {
    margin: 1rem;
    font-size: 2rem;
  }
  padding: 1rem 2rem;
  border-radius: 0 0 0.5rem 0.5rem;
}
.container {
  min-height: calc(100vh - 18rem);
  padding: 1rem;
}
.active {
  font-weight: bold;
}

.nav-locale {
  display: flex;
  align-items: center;
}

mat-icon {
  color: $font-accent;
  padding: 1rem;
  font-size: 2rem;
}

::ng-deep {
  .mat-select-value {
    color: $font-accent !important;
  }
}

@media (max-width: 480px) {
  header {
    flex-direction: column;
    height: auto !important;
    ul {
      margin: 0 auto;
      padding: 0;
      text-align: center;
    }
  }
}