header {
  height: 4rem;
  background: #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}
nav {
  ul {
    li {
      display: inline-block;
      margin: 1rem;
    }
  }
}
footer {
  height: 3rem;
  background: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  .footer__item {
    margin: 1rem;
  }
}
.container {
  min-height: calc(100vh - 10rem);
  padding: 1rem;
}
.active {
  font-weight: bold;
}