<div class="board__list">
  <div class="board__list-title" #title [contentEditable]="listEditable">{{list.title}}</div>
  <button (click)="editList()" *ngIf="!listEditable" >Edit</button>
  <button (click)="saveList(title.innerText)" *ngIf="listEditable">Save</button>
  <button (click)="deleteList()">Delete</button>
  <button 
    (click)="createFormOpen()" 
    *ngIf="!createFormVisibility"
    >New task 
  </button>
  <form 
    *ngIf="createFormVisibility"
    [formGroup]="TaskForm"
    (ngSubmit)="create()">
    <div class="form-control">
      <label for="task__name">Title</label>
      <input 
        type="text" 
        id="task__name" 
        placeholder="New task title"
        formControlName="title">
    </div>
    <div class="form-control">
      <label for="task__description">Description</label>
      <input 
        type="text" 
        id="task__description" 
        placeholder="New task description"
        formControlName="description">
    </div>
    <button type="submit" [disabled]="TaskForm.invalid">Save</button>
    <button (click)="createFormClose()" *ngIf="createFormVisibility">Cancel</button>
  </form>
  <div class="board__list-items">
    <app-board-tasks *ngFor="let task of tasks$ | async" [task]="task"></app-board-tasks>
  </div>
</div>