@import '../../shared/scss/shared';

.board__list {
  width: 20rem;
  padding: 1rem .5rem;
  border: .1rem dashed $border-dark;
  border-radius: .3rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.board__list-items {
  height: 64rem;
  overflow-y: auto;
  overflow-x: hidden;
}
.board__list-title {
  font-size: 2rem;
  color: $font-light;
  text-align: center;
  background: $background-dark;
  padding: .5rem;
  border-radius: .3rem;
  margin-bottom: 1rem;
}
.buttons {
  display: flex;
  flex-direction: column;
  background: $background-middle;
  border-radius: .3rem;
}
.form-control {
  display: flex;
  flex-direction: column;
}