@import "../../shared/scss/shared";

.board__list {
  width: 25rem;
  padding: 1rem 0.5rem;
  border: 0.1rem dashed $border-dark;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.board__list-items {
  overflow-y: auto;
  overflow-x: hidden;
}
.board__list-title {
  font-size: 2rem;
  color: $font-dark;
  text-align: center;
}
.buttons {
  display: flex;
  justify-content: center;
}
.form-control {
  display: flex;
  flex-direction: column;
}
.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $background-accent;
  padding: 0.5rem;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
}
