<div class="board__list"
  id={{list.id}}
  (dragover)="taskDragOverHandler($event)" 
  (drop)="taskDropHandler($event)"
  (dragenter)="taskDragEnterHandler($event)"
  (dragleave)="taskDragLeaveHandler($event)">

  <div class="board__list-title" #title [contentEditable]="listEditable">{{list.title}}</div>
  <div class="buttons">
    <button class="btn btn-edit" (click)="editList()" *ngIf="!listEditable" >{{i18n['edit']}}</button>
    <button class="btn btn-save" (click)="saveList(title.innerText, list.order!)" *ngIf="listEditable">{{i18n['save']}}</button>
    <button class="btn btn-delete" (click)="deleteList()">{{i18n['delete']}}</button>
    <button
      class="btn btn-create"
      (click)="createFormOpen()" 
      *ngIf="!createFormVisibility"
      >{{i18n['task_new']}}
    </button>
  </div>
  <form 
    *ngIf="createFormVisibility"
    [formGroup]="TaskForm"
    (ngSubmit)="create()">
    <div class="form-control">
      <label for="task__name">{{i18n['title']}}</label>
      <input 
        type="text" 
        id="task__name" 
        placeholder="{{i18n['title']}}"
        formControlName="title">
    </div>
    <div class="form-control">
      <label for="task__description">{{i18n['description']}}</label>
      <input 
        type="text" 
        id="task__description" 
        placeholder="{{i18n['description']}}"
        formControlName="description">
    </div>
    <button class="btn btn-save" type="submit" [disabled]="TaskForm.invalid">{{i18n['save']}}</button>
    <button class="btn btn-cancel" (click)="createFormClose()" *ngIf="createFormVisibility">{{i18n['cancel']}}</button>
  </form>
  <div class="board__list-items">
    <div class="drop-zone" [attr.data-order]="0">+</div>
    <app-board-tasks *ngFor="let task of tasks$ | async" [task]="task"></app-board-tasks>
  </div>
</div>