.profile {
  margin: auto;
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  margin: auto;
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-control {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.title-container {
  display: flex;
  align-items: center;
}