.about {
  margin: auto;
  display: flex;
  gap: 3rem;
}
.about__item {
  width: 50%;
  p {
    img {
      width: 100%;
    }
  }
}

@media (max-width: 480px) {
  .about {
    flex-direction: column;
  }
  .about__item {
    width: auto;
  }
}