<div *ngIf="board$ | async as board" class="board">
  <div class="title-container">
    <h2 [contentEditable]="boardEditable" #title>{{ board.title }}</h2>
    <div class="buttons">
      <button class="btn icn-edit" (click)="edit()" *ngIf="!boardEditable">
        <mat-icon [attr.aria-label]="i18n['edit']" fontIcon="edit"></mat-icon>
      </button>
      <button
        class="btn icn-save"
        (click)="save(board.id!, title.innerText, description.innerText)"
        *ngIf="boardEditable"
      >
        <mat-icon [attr.aria-label]="i18n['save']" fontIcon="save"></mat-icon>
      </button>
    </div>
  </div>
  <h3 [contentEditable]="boardEditable" #description>
    {{ board.description }}
  </h3>
  <form [formGroup]="BoardForm" (ngSubmit)="create()">
    <label for="board__list">{{ i18n["board_new"] }}</label>
    <input
      type="text"
      id="board__list"
      placeholder="{{ i18n['board_new'] }}"
      formControlName="title"
    />
    <button class="btn btn-create" type="submit" [disabled]="BoardForm.invalid">
      {{ i18n["create"] }}
    </button>
  </form>
  <div
    class="lists"
    cdkDropList
    cdkDropListOrientation="horizontal"
    [cdkDropListData]="lists"
    (cdkDropListDropped)="drop($event)"
    cdkDropListGroup
    *ngIf="lists$ | async as lists"
  >
    <div cdkDrag *ngFor="let list of lists">
      <div class="drop-placeholder-list" *cdkDragPlaceholder></div>
      <app-board-list [list]="list"></app-board-list>
    </div>
  </div>
</div>
