<div *ngIf="board$ | async as board">
  <h2 [contentEditable]="boardEditable" #title >{{board.title}}</h2>
  <p [contentEditable]="boardEditable" #description >{{board.description}}</p>
  <button (click)="edit()" *ngIf="!boardEditable">{{i18n['edit']}}</button>
  <button (click)="save(board.id!, title.innerText, description.innerText)" *ngIf="boardEditable">{{i18n['save']}}</button>
  <button [routerLink]="['../../dashboard']">{{i18n['board_back']}}</button>
  <form [formGroup]="BoardForm" (ngSubmit)="create()">
    <label for="board__list">{{i18n['board_new']}}</label>
    <input type="text" id="board__list" placeholder="New list name" formControlName="title">
    <button type="submit" [disabled]="BoardForm.invalid">{{i18n['create']}}</button>
  </form>
  <div class="board" >
    <app-board-list 
      *ngFor="let list of lists$ | async" 
      [list]="list"
      >
    </app-board-list>
  </div>
</div>