<div [ngStyle]="{ order: task.order }" class="task__container">
  <div class="title-container">
    <div class="task__title" [contentEditable]="taskEditable" #title>
      {{ task.title }}
    </div>
    <div class="buttons">
      <button class="btn icn-edit" (click)="edit()" *ngIf="!taskEditable">
        <mat-icon [attr.aria-label]="i18n['edit']" fontIcon="edit"></mat-icon>
      </button>
      <button
        class="btn icn-save"
        (click)="
          save(
            task.id!,
            task.order!,
            title.innerText,
            description.innerText,
            userSelect
          )
        "
        *ngIf="taskEditable"
      >
        <mat-icon [attr.aria-label]="i18n['save']" fontIcon="save"></mat-icon>
      </button>
      <button class="btn icn-delete" (click)="prompt()">
        <mat-icon
          [attr.aria-label]="i18n['delete']"
          fontIcon="delete"
        ></mat-icon>
      </button>
    </div>
  </div>
  <div class="task__description" #description>
    <p [contentEditable]="taskEditable">{{ task.description }}</p>
  </div>
  <div class="task__author" *ngIf="!taskEditable">
    <small *ngIf="user$ | async as user">{{ user.login }}</small>
  </div>
  <div class="task__author" *ngIf="taskEditable">
    <select name="task__author" id="task__author" [(ngModel)]="userSelect">
      <option value="none" disabled>
        {{ i18n["user_select"] }}
      </option>
      <option *ngFor="let user of users$ | async" value="{{ user.id }}">
        {{ user.login }}
      </option>
    </select>
  </div>
  <app-modal></app-modal>
</div>
