@import "../../shared/scss/shared";

.task__container {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  box-shadow: 0.1rem 0.1rem 0.3rem $background-dark;
}
.task__container_drag {
  border: 0.2rem dashed $border-editable;
  border-radius: 0.3rem;
}
.buttons {
  display: flex;
  // flex-direction: column;
  justify-content: center;
}

.task__title {
  font-size: 2rem;
  color: $font-light;
  text-align: center;
  
}
.task__description {
  text-align: center;
}
.task__author {
  text-align: center;
  font-size: 1.3rem;
}
.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $background-dark;
  padding: 0.5rem;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
}

mat-icon {
  color: $border-light;
}