@import '../../shared/scss/variables.scss';

.task__container {
  display: flex;
  flex-direction: column;
  margin: .5rem;
  padding: .5rem;
  border-radius: .3rem;
  box-shadow: .1rem .1rem .3rem $background-dark;
}
.task__container_drag {
  border: .2rem dashed $border-editable;
  border-radius: .3rem;
}
.buttons {
  display: flex;
  flex-direction: column;
}

.task__title {
  font-size: 2rem;
  color: $font-light;
  text-align: center;
  background: $background-dark;
  padding: .5rem;
  border-radius: .3rem;
  margin-bottom: 1rem;
}
.task__description {
  text-align: center;
}
.task__author {
  text-align: center;
  font-size: 1.3rem;
}