<h2>Dashboard</h2>
<form [formGroup]="DashboardForm" (ngSubmit)="create()">
  <div class="form-control">
    <h3>Create new board</h3>
    <label for="dashboard__new">
      Title
    </label>
    <input 
      type="text" 
      id="dashboard__new-title" 
      placeholder="New board title"
      formControlName="title">
    <small *ngIf="DashboardForm.get('title')?.touched && DashboardForm.get('title')?.errors?.['required']">
      Title is required
    </small>
  </div>
  <div class="form-control">
    <label for="dashboard__new-description">
      Description
    </label>
    <input 
      type="text" 
      id="dashboard__new-description" 
      placeholder="New board description"
      formControlName="description">
  </div>
  <button type="submit" [disabled]="DashboardForm.invalid">Create</button>
</form>
<div class="dashboard">
  <div class="dashboard__item" *ngFor="let board of boardList$ | async">
    <div class="project__title">
      <h3 [contentEditable]="boardEditable" #title>{{board.title}}</h3>
    </div>
    <div class="project__description" [contentEditable]="boardEditable" #description>
      {{board.description}}
    </div>
    <button (click)="open(board.id!)">Open</button>
    <button (click)="edit()" *ngIf="!boardEditable">Edit</button>
    <button (click)="save(board.id!, title.innerText, description.innerText)" *ngIf="boardEditable">Save</button>
    <button (click)="delete(board.id!)">Delete</button>
  </div>
</div>
