<h2>{{i18n['dashboard_title']}}</h2>
<form [formGroup]="DashboardForm" (ngSubmit)="create()">
  <div class="form-control">
    <h3>{{i18n['dashboard_new']}}</h3>
    <label for="dashboard__new">
      {{i18n['dashboard_new']}}
    </label>
    <input 
      type="text" 
      id="dashboard__new-title" 
      placeholder="{{i18n['dashboard_new']}}"
      formControlName="title">
    <small *ngIf="DashboardForm.get('title')?.touched && DashboardForm.get('title')?.errors?.['required']">
      {{i18n['title']}} {{i18n['required']}}
    </small>
  </div>
  <div class="form-control">
    <label for="dashboard__new-description">
      {{i18n['description']}}
    </label>
    <input 
      type="text" 
      id="dashboard__new-description" 
      placeholder="{{i18n['description']}}"
      formControlName="description">
  </div>
  <button type="submit" [disabled]="DashboardForm.invalid">{{i18n['create']}}</button>
</form>
<div class="dashboard">
  <div class="dashboard__item" *ngFor="let board of boardList$ | async">
    <div class="project__title">
      <h3 [contentEditable]="boardEditable" #title>{{board.title}}</h3>
    </div>
    <div class="project__description" [contentEditable]="boardEditable" #description>
      {{board.description}}
    </div>
    <button (click)="open(board.id!)">{{i18n['open']}}</button>
    <button (click)="edit()" *ngIf="!boardEditable">{{i18n['edit']}}</button>
    <button (click)="save(board.id!, title.innerText, description.innerText)" *ngIf="boardEditable">{{i18n['save']}}</button>
    <button (click)="delete(board.id!)">{{i18n['delete']}}</button>
  </div>
</div>
