<h2 i18n>Dashboard</h2>
<form [formGroup]="DashboardForm" (ngSubmit)="create()">
  <div class="form-control">
    <h3 i18n>Create new board</h3>
    <label for="dashboard__new" i18n>
      Title
    </label>
    <input 
      type="text" 
      id="dashboard__new-title" 
      placeholder="New board title"
      i18n-placeholder
      formControlName="title">
    <small i18n *ngIf="DashboardForm.get('title')?.touched && DashboardForm.get('title')?.errors?.['required']">
      Title is required
    </small>
  </div>
  <div class="form-control">
    <label for="dashboard__new-description" i18n>
      Description
    </label>
    <input 
      type="text" 
      id="dashboard__new-description" 
      placeholder="New board description"
      i18n-placeholder
      formControlName="description">
  </div>
  <button i18n type="submit" [disabled]="DashboardForm.invalid">Create</button>
</form>
<div class="dashboard">
  <div class="dashboard__item" *ngFor="let board of boardList$ | async">
    <div class="project__title">
      <h3 [contentEditable]="boardEditable" #title>{{board.title}}</h3>
    </div>
    <div class="project__description" [contentEditable]="boardEditable" #description>
      {{board.description}}
    </div>
    <button (click)="open(board.id!)" i18n>Open</button>
    <button (click)="edit()" *ngIf="!boardEditable" i18n>Edit</button>
    <button (click)="save(board.id!, title.innerText, description.innerText)" *ngIf="boardEditable" i18n>Save</button>
    <button (click)="delete(board.id!)" i18n>Delete</button>
  </div>
</div>
