<h2>Sign up</h2>
<div class="login">
  <form [formGroup]="SignUpForm" (ngSubmit)="submit()">
    <div class="form-control">
      <label for="login__email">Email</label>
      <input
        type="email" 
        id="login__email" 
        placeholder="Email"
        formControlName="email">
        <div
          *ngIf="SignUpForm.get('email')?.touched && SignUpForm.get('email')?.invalid"
          class="validation">
          <small *ngIf="SignUpForm.get('email')?.errors?.['required']">
            Email is required
          </small>
          <small *ngIf="SignUpForm.get('email')?.errors?.['email']">
            Type correct email address
          </small>
        </div>
      </div>
    <div class="form-control">
      <label for="login__password">Password</label>
      <input
        type="password" 
        id="login__password" 
        placeholder="Password"
        formControlName="password">
        <div
          *ngIf="SignUpForm.get('password')?.touched && SignUpForm.get('password')?.invalid"
          class="validation"
          >
          <small *ngIf="SignUpForm.get('password')?.errors?.['required']">
            Password is required.
          </small>
          <small *ngIf="SignUpForm.get('password')?.errors?.['minlength']">
            Minimum password length is 6 symbols.
          </small>
        </div>
      </div>
    <button 
      type="submit"
      [disabled]="SignUpForm.invalid"
      >Login</button>
  </form>
</div>