<h2>Sign up</h2>
<div class="signup">
  <form>
    <div class="form-control">
      <label for="signup__email">Email</label>
      <input type="text" id="signup__email" placeholder="Email">
      <small>
        error description
      </small>
    </div>
    <div class="form-control">
      <label for="signup__password">Password</label>
      <input type="text" id="signup__password" placeholder="Password">
      <small>
        error description
      </small>
    </div>
    <button type="submit">Sign up</button>
  </form>
</div>