@import './app/shared/scss/shared';

:root {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 10px;
  background: $background-light;
  color: $font-dark;
  a {
    color: $font-accent;
    text-decoration: none;
    &:hover {
      font-weight: 800;
    }
    &:visited {
      color: $font-accent;
    }
  }
}

p,
span,
form {
  font-size: 1.6rem;
}

select,
input {
  border: 0;
  height: 2.2rem;
  border-radius: .3rem;
  padding: 0 .5rem;
}

.danger {
  color: $font-danger;
}

[contenteditable='true'] {
  border: .1rem dashed $border-editable;
  border-radius: .3rem;
  padding: .1 .2rem;
}