/* You can add global styles to this file, and also import other style files */
.modal__wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #000;
  opacity: .5;
}
.modal__message {
  position: fixed;
  width: 20rem;
  background: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  padding: 1rem 2rem;
}