<h2>Project</h2>
<button [routerLink]="['../../dashboard']">Go to dashboard</button>
<form>
  <label for="project__list">Create new list
    <input type="text" id="project__list" placeholder="New list name">
  </label>
  <button type="submit">Create</button>
</form>
<div class="project">
  <div class="project__list">
    <div class="project__list-title">Todo</div>
    <form>
      <input type="text" id="project__list-item" placeholder="New task name">
      <button type="submit">Save</button>
    </form>
    <div class="project__list-items">
      <ul>
        <li>
          Item 1
          <button>Remove</button>
        </li>
        <li>
          Item 2
          <button>Remove</button>
        </li>
        <li>
          Item 3
          <button>Remove</button>
        </li>
        <li>
          Item 4
          <button>Remove</button>
        </li>
        <li>
          Item 5
          <button>Remove</button>
        </li>
      </ul>
    </div>
  </div>
  <div class="project__list">
    <div class="project__list-title">In progress</div>
    <form>
      <input type="text" id="project__list-item" placeholder="New task name">
      <button type="submit">Save</button>
    </form>
    <div class="project__list-items">
      <ul>
        <li>
          Item 1
          <button>Remove</button>
        </li>
        <li>
          Item 2
          <button>Remove</button>
        </li>
        <li>
          Item 3
          <button>Remove</button>
        </li>
        <li>
          Item 4
          <button>Remove</button>
        </li>
        <li>
          Item 5
          <button>Remove</button>
        </li>
      </ul>
    </div>
  </div>
  <div class="project__list">
    <div class="project__list-title">Done</div>
    <form>
      <input type="text" id="project__list-item" placeholder="New task name">
      <button type="submit">Save</button>
    </form>
    <div class="project__list-items">
      <ul>
        <li>
          Item 1
          <button>Remove</button>
        </li>
        <li>
          Item 2
          <button>Remove</button>
        </li>
        <li>
          Item 3
          <button>Remove</button>
        </li>
        <li>
          Item 4
          <button>Remove</button>
        </li>
        <li>
          Item 5
          <button>Remove</button>
        </li>
      </ul>
    </div>
  </div>
</div>